<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, innitial-scale=1.0" />
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" href="assets/images/icon.png" />
    <link rel="stylesheet" type="text/css" href="assets/css/wc3.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/lecturer_interface.css" />
    <link rel="stylesheet" href="wc3.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script> -->
    <script src="js/socket.io.js" defer></script>
    <script type="module" src="js/lecturerMain.js" defer></script>

    <title><%= user.accountType %> | <%= user.name %></title>
  </head>
  <body>
    <div class="accInfo">
      <output class="myData" style="display: none"><%=user._id %></output>
      <output class="myData" style="display: none"><%=user.name %></output>
    </div>

    <!-- <nav id="paginationStyled" aria-label="Page navigation example">
      <ul class="pagination justify-content-center mt-2">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav> -->

    <nav class="navbar navbar-expand-lg timetableNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/images/icon.png" alt="" width="60" height="40" />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars" style="color: white; font-size: 24px"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="ownNav" id="mainNav">
            <!-- <a id="home-link" data-ref="Home">Home</a> -->

            <a class="navLink active" data-navset="mainNav" id="normalTT-link" data-ref="TT"
              >Timetable</a
            >

            <a class="navLink" id="availableTT-link" data-navset="mainNav" data-ref="availTT"
              >Availability</a
            >

            <a class="navLink" id="Att-link" data-navset="mainNav" data-ref="Att">Attendance</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- <div class="w3-row mainNav" id="Home" style="display: block">
      <h1>Home page</h1>

      <br />

      <div class="w3-quarter w3-container w3-hide-small">
        <div class="w3-card-4 w3-round-large w3-animate-top">
          <div class="w3-container notice">
            <p class="mt-4">
              <span>Welcome <%= user.name %></span><br />
              You can view the most recent timetable by clicking on the get timetable button
            </p>
          </div>
        </div>
      </div>
    </div> -->

    <div class="w3-row nav-item" data-navset="mainNav" id="TT" style="display: block">
      <div class="w3-container w3-animate-right">
        <div class="w3-round-large">
          <h1>WEEKLY SCHEDULE</h1>
          <div class="w3-card w3-display-container ttDiv">
            <div class="table-responsive" id="displayTTContainer"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="w3-row nav-item" data-navset="mainNav" id="availTT">
      <div class="w3-container w3-animate-right">
        <div class="text-center"><h1>AVAILABILITY TIMETABLE</h1></div>

        <div class="w3-card w3-round-large ttDiv">
          <div class="table-responsive" id="availTTContainer"></div>
        </div>
      </div>
    </div>

    <div class="w3-row nav-item" data-navset="mainNav" id="Att">
      <div class="container">
        <select id="Att-group"></select>
      </div>
      <hr />
      <div class="container" id="Att-main">
        <!-- <div
        class="modal fade"
        id="saveModal"
        tabindex="-1"
        aria-labelledby="saveModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" id="header">
              <h5 class="modal-title" id="saveModalLabel">Description :</h5>
            </div>

            <form>
              <div class="modal-body">
                <textarea placeholder="Type Here..."></textarea>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">
                  Close
                </button>
                <button type="submit" class="btn" id="send">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div> -->
      </div>
    </div>

    <hr />
    <br /><br />

    <div id="snackbar"></div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h2 id="modalHeader">Modal Header</h2>
          <span class="close" id="modalClose">&times;</span>
        </div>

        <div class="modal-body" id="modalBody"></div>

        <div class="modal-footer">
          <h3 id="modalFooter">Modal Footer</h3>
        </div>
      </div>
    </div>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/navigation.js"></script>
    <script src="assets/jquery/jquery.min.js"></script>
  </body>

  <%- include('partials/authFooter') -%>
</html>
