<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, innitial-scale=1.0" />
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" href="assets/images/icon.png" />
    <link rel="stylesheet" type="text/css" href="assets/css/wc3.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/coordinator_interface.css" />
    <link rel="stylesheet" href="wc3.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="rollCallStyle.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="scroll-table.css" />
    <script src="js/socket.io.js" defer></script>
    <script src="js/hashMap.js" defer></script>
    <script src="js/moment-with-locales.js"></script>
    <script type="module" src="js/Student.js" defer></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script> -->

    <title><%= user.accountType %> | <%= user.name %></title>
  </head>
  <body>
    <div class="accInfo" style="display: none">
      <output class="myData"><%=user._id %></output>
      <output class="myData"><%=user.name %></output>
    </div>

    <nav class="navbar navbar-expand-lg timetableNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/images/icon.png" alt="" width="60" height="40" />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars" style="color: white; font-size: 24px"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="ownNav" id="mainNav">
            <!-- <a id="home-link" data-ref="Home">Home</a> -->

            <a class="navLink active" data-navset="mainNav" id="normalTT-link" data-ref="TT"
              >Timetable</a
            >
            <a class="navLink" id="Att-link" data-navset="mainNav" data-ref="Att">Attendance</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="w3-row nav-item" data-navset="mainNav" id="TT">
      <div class="w3-container w3-animate-right">
        <div class="w3-round-large">
          <h1>WEEKLY SCHEDULE</h1>
          <div class="w3-card w3-display-container ttDiv">
            <div class="table-responsive" id="displayTTContainer"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="w3-row nav-item" data-navset="mainNav" id="Att">
      <div class="container" id="Att-main">
        <nav>
          <div class="ownNav" id="Att-nav" style="background-color: #0a4c9b">
            <a
              class="navLink active"
              id="Att_history-link"
              data-navset="Att-nav"
              data-ref="Att_history"
              >History</a
            >

            <!-- <a class="navLink" id="classList-link" data-navset="Att-nav" data-ref="Att_classLists"
              >Class lists</a
            > -->
          </div>
        </nav>

        <hr />

        <div class="" id="header">
          <div id="Att-coreOptions" class="toCenter">
            <select id="Att-groupSelect"></select>
          </div>
          <div id="Att-varOptions"></div>
        </div>

        <div class="nav-item" data-navset="Att-nav" id="take_Att" style="display: none">
          <h1>Take New Attendance</h1>
          <div class="" id="Att-container"></div>
        </div>
        <div class="nav-item" data-navset="Att-nav" id="Att_history">
          <hr />
          <button class="myAccordion">Attendance History</button>
          <div class="AccPanel" id="Att-hist-panel"></div>
          <hr />

          <div class="" id="Att-hist-details"></div>
        </div>
        <div class="nav-item" data-navset="Att-nav" id="Att_classLists">
          <h1>Custom Class Lists</h1>
          <hr />
          <div class="" id="Att-classList"></div>
        </div>
      </div>
    </div>

    <hr />
    <br /><br />

    <div id="snackbar"></div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h2 id="modalHeader">Modal Header</h2>
          <span class="close" id="modalClose">&times;</span>
        </div>

        <div class="modal-body" id="modalBody"></div>

        <div class="modal-footer">
          <h3 id="modalFooter">Modal Footer</h3>
        </div>
      </div>
    </div>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/navigation.js"></script>
    <script src="assets/jquery/jquery.min.js"></script>

    <!-- new -->

    <script src="assets/js/jquery-3.5.1.slim.min.js"></script>

    <script src="assets/js/jquery-1.12.4.min.js"></script>

    <script src="assets/js/popper.min.js"></script>

    <script src="assets/js/bootstrap.min.js"></script>
  </body>

  <!-- <%- include('partials/authFooter') -%> -->
</html>
