<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, innitial-scale=1.0" />
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" href="assets/images/icon.png" />
    <link rel="stylesheet" type="text/css" href="assets/css/wc3.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/student_interface.css" />
    <link rel="stylesheet" href="wc3.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <script src="js/socket.io.js" defer></script>
    <script type="module" src="js/Student.js" defer></script>

    <title><%= user.accountType %> | <%= user.name %> | <%= user.level %></title>
  </head>
  <body>
    <div class="accInfo">
      <output class="myData" style="display: none"><%=user._id %></output>
      <output class="myData" style="display: none"><%=user.name %></output>
      <output class="myData" style="display: none"><%=user.group %></output>
    </div>

    <nav class="navbar navbar-expand-lg timetableNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/images/icon.png" alt="" width="60" height="40" />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars" style="color: white; font-size: 24px"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto p-2 bd-highlight">
            <a class="nav-link" aria-current="page" id="timetable" href="#">Timetable</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="w3-row">
      <div class="w3-quarter w3-container w3-hide-small">
        <div class="w3-card-4 w3-round-large w3-animate-top">
          <div class="w3-container notice">
            <p class="mt-4">
              <span>Welcome <%= user.name %></span><br />
              You can view the most recent timetable by clicking on the get timetable button
            </p>
            <hr />
            <p class="mb-5">
              Specialty: <%= user.specialty %> <br />Level: <%= user.level %> <br />Group: <%=
              user.group %>
            </p>
            <hr />
            <p class="mt-4" id="periodInfo"></p>
          </div>
        </div>
      </div>

      <div class="w3-half w3-container timetable">
        <h1>WEEKLY SCHEDULE</h1>

        <div class="w3-card w3-display-container ttDiv">
          <div class="table-responsive" id="displayTTContainer"></div>
        </div>
      </div>
    </div>

    <hr />
    <br /><br />

    <div id="snackbar"></div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h2 id="modalHeader">Modal Header</h2>
          <span class="close" id="modalClose">&times;</span>
        </div>

        <div class="modal-body" id="modalBody"></div>

        <div class="modal-footer">
          <h3 id="modalFooter">Modal Footer</h3>
        </div>
      </div>
    </div>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
  </body>
  <%- include('partials/authFooter') -%>
</html>
